
/* removing scroll bar */
::-webkit-scrollbar {
  display: none;
}


/* styling MainContent */

.startImg {
  width: 100vw;
}

#About{
  text-align: center;
  font-size: 1.2em;
  padding: 2.5em;
  line-height: 1cm;
}

