
/* removing scroll bar */
::-webkit-scrollbar {
  display: none;
}


/* styling MainContent */

.startImg {
  width: 100vw;
}


#About{
  text-align: center;
  font-size: 1.2em;
  padding: 2.5em;
  line-height: 1cm;
}

/* styling brandlogos */
.linkContainer{
  /* flex: 1; */
  display: flex;
  background-color: #212529;;
  /* background-color: white; */
  flex-wrap: inherit;
  align-items: center;
  /* justify-content:  */
}
.linkContainer .navbar-brand {
  margin: 0;
  padding: 1rem;
  align-items: center;
}
.linkContainer .div {
  align-items: center;
}

.discordLogo{
  
  color: red;
  
}
.twitterLogo{
  
  color: red;
}



/* styling art page  */
.race-card{
  width: 85rem;
  margin: 1rem
}
/* .card-img{
  
} */

.race-card-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
