
/* removing scroll bar */
::-webkit-scrollbar {
  display: none;
}


/* styling MainContent */

.startImg {
  width: 100vw;
}


#About{
  text-align: center;
  font-size: 1.2em;
  padding: 2.5em;
  line-height: 1cm;
}

/* styling brandlogos */
.linkContainer{
  /* flex: 1; */
  display: flex;
  background-color: #212529;
  /* background-color: white; */
  flex-wrap: inherit;
  align-items: center;
  /* justify-content:  */
}
.linkContainer .navbar-brand {
  margin: 0;
  padding: 1rem;
  align-items: center;
}
.linkContainer .div {
  align-items: center;
}

.discordLogo{
  
  color: red;
  
}
.twitterLogo{
  
  color: red;
}




/* styling footer *//* styling footer *//* styling footer */
/* flexing footer-inner , footer-nft-cal */
.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #212529;
  align-items: center;
  justify-content: space-between;
}

/* flexing .footer-logo, .footer-copy-right */
.footer-inner {
  display: flex;
  align-items: center;
}
.footer-logo img {
  
  width: 100px;
}
.footer-copy-right {
  color: white;
}

.footer-nft-cal {
  padding-right: 15px;
}
.footer-nft-cal img {
  
  width: 70px;
}
/* styling footer *//* styling footer *//* styling footer */




.roadMap-Container{
  border: 0 !important;
  font-size: 1.2em;
  line-height: 1cm;
}
.card-container div {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}



/* styling art page  */


.race-img {
  width: 30vw !important;
}

.read-more {
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.read-more:hover {
  color: grey;
}