

.RoadMap {
  /* margin-top: 86px; */
  /* offset: -86px; */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: calc(100vh - 126px);
  /* height: 100vh; */
  position: relative;
  text-align: center;
  position: relative;
  
}


section {
  height: calc(100vh - 126px);
  scroll-snap-align: start;
  position: relative;
}

.phase-1 {
  background-image: url(./Phase1.png);
  background-size: 100% 100%;
  background-repeat:no-repeat; 
}
.phase-2 {
  background-image: url(./Phase2.png);
  background-size: 100% 100%;
  background-repeat:no-repeat; 
}
.phase-3 {
  background-image: url(./Phase3.png);
  background-size: 100% 100%;
  background-repeat:no-repeat; 
}
.phase-4 {
  background-image: url(./Phase4.png);
  background-size: 100% 100%;
  background-repeat:no-repeat; 
}
.phase-5 {
  background-image: url(./Phase5.png);
  background-size: 100% 100%;
  background-repeat:no-repeat; 
}


* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline-container{
  height: calc(100vh - 126px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.timeline-container >  h1 {
  color: white;
}
.timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}


.timeline-content {
  padding: 10px;
  background-color: #1e1f22 !important;
  color: white;
  border-radius: 10px;
  width: 80%;
  left: 10%;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.timeline-content h1 {
  font-size: 16px;
  /* font-weight: 500; */
  /* line-height: 30px; */
}
.timeline-content p {
  font-size: 1px;
  line-height: 20px;
  font-weight: 300;
}
.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  height: 100%;
  width: 3px;
  transform: translateX(-50%);
  background-color: grey;
  
}
.timeline-content ::after{
  content: '';
  position: absolute;
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: grey;
  border-radius: 50%;
  top: 0;
  left: calc(50%);
  transform: translate(-50%,-50%);
}

/* width 470 is when navbar gets thicker by flex wrapping */
@media (min-width: 470px) {
  section {
    height: calc(100vh - 86px);
  }
  .RoadMap {
    height: calc(100vh - 86px);
  }
  .timeline-content {
    left: 25%;
    width: 50%;
  }

 
  .timeline-container{
    height: calc(100vh - 86px);
  }

} 

.modal-content {
  background-color: none !important;
}
